<h1><%= @movie.title %></h1>
Directed by <%= @movie.director %><br>
<%= markdown(@movie.description) %><br>
Upvotes: <%= @movie.rank %>

<%= button_to '+1', movie_ranked_path(@movie.id) %><br>

<div class='ui buttons'>
<%= button_to 'Destroy the movie!', @movie, method: :delete, class: 'ui negative button', data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit this movie!', edit_movie_path(@movie.id), method: :get, class: 'ui button' %>
<%= link_to 'View all movies', movies_path, method: :get, class: 'ui button' %>
<%= link_to 'View all media', :root, method: :get, class: 'ui button' %>
<div>
