
  <br>

 <div class="ui three column divided grid">
    <div class="column">
      <h2 class="ui inverted black block header"> Books </h2>
    <% @books.each do |book| %>
    <div class='item'>
      <%= link_to book.title, book_path(book.id) %><br>
      Upvotes: <%= book.rank %><br>
    </div>
      <% end %>
    <%= link_to 'See All Books', books_path, class: 'ui button'%>
    </div>

    <div class="column">
      <h2 class="ui inverted black block header"> Movies </h2>
      <% @movies.each do |movie| %>
      <div class='item'>
        <%= link_to movie.title, movie_path(movie.id) %><br>
        Upvotes: <%= movie.rank %><br>
      </div>
      <% end %>
    <%= link_to 'See All Movies', movies_path, class: 'ui button' %>
    </div>

    <div class="column">
      <h2 class="ui inverted black block header"> Albums </h2>
          <% @albums.each do |album| %>
          <div class='item'>
          <%= link_to album.title, album_path(album.id) %><br>
         Upvotes: <%= album.rank %><br>
        </div>
        <% end %>
      <%= link_to 'See All Albums', albums_path, class: 'ui button' %>
    </div>
  </div>



