<% @book.errors.full_messages.each do |error| %>
  <%= error %><br>
<% end %>

<%= form_for @book do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %> <br>

  <%= f.label :author %>
  <%= f.text_field :author %><br>

 <div id="editor-button-bar"></div>
  <%=f.label :description %><br>
  <%=f.text_area :description, size: '80x10', id: 'editor-input' %>
</div> 
<div id="editor-preview"></div>

  <%= f.submit class: 'ui button' %>

<% end %>