<h1>
  <%= @book.title %>
</h1>
<div class='book_show'>
  written by <%= @book.author %><br><br>
  <%= @book.description %><br><br>
  Rank: <%= @book.rank %>

<%= button_to '+1', ranked_path(@book.id) %><br>

<%= button_to 'Destroy this book!', @book, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= button_to 'Edit this book!', edit_book_path(@book.id), method: :get %>
<%= button_to 'View all books', books_path, method: :get %>
<%= button_to 'View all media', :root, method: :get %>

