
<% @album.errors.full_messages.each do |error| %>
  <%= error %><br>
<% end %>

<%= form_for @album do |f| %>
<div class='field'>
  <%= f.label :title %>
  <%= f.text_field :title %> <br>
</div>

<div class='field'>
  <%= f.label :artist %>
  <%= f.text_field :artist %><br>
</div>

<div class='field'>
  <div id="editor-button-bar"></div>
  <%=f.label :description %><br>
  <%=f.text_area :description, size: '80x10', id: 'editor-input' %>
</div> 
<div id="editor-preview"></div>

  <%= f.submit class: 'ui button' %>

<% end %>